In [1]:
import dask.array as da
import numpy as np
import pandas as pd

In [2]:
n_rows = 10000
n_cols = 10000
a = np.random.randint(low=0, high=20, size=(n_rows,n_cols), dtype=np.int64)
df = pd.DataFrame(a)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,12,10,6,3,18,14,12,4,6,17,...,10,10,15,19,7,5,4,4,0,12
1,5,0,13,1,10,8,1,19,8,17,...,9,18,14,0,2,9,17,8,11,12
2,6,18,12,17,2,12,17,10,17,15,...,16,7,12,1,15,17,2,6,14,15
3,9,16,11,0,6,14,4,16,9,19,...,5,12,8,8,10,4,10,4,11,7
4,4,9,5,10,6,9,6,13,10,16,...,5,2,9,5,19,16,11,15,11,4

In [3]:
dask_array = da.from_array(a, chunks=(100,100))

In [4]:
dask_array

dask.array<array, shape=(10000, 10000), dtype=int64, chunksize=(100, 100), chunktype=numpy.ndarray>

In [5]:
dask_array.sum()

dask.array<sum-aggregate, shape=(), dtype=int64, chunksize=(), chunktype=numpy.ndarray>

In [7]:
dask_array.sum().visualize(engine = "cytoscape")

In [ ]:
%%time
dask_array.sum().compute()

CPU times: user 1.03 s, sys: 113 ms, total: 1.14 s
Wall time: 1.07 s

950012693